#PostgreSQL configuration data
# host, port, user, password - data needed to create the connection
# dbname - database name used (in case it would clash with your existing DB)
# prefix - prefix for tables to use - best to use something like TLD_DATE, don't
#   forget to add dot at the end if it's supposed to be schema name; by default
#   prefix is empty, which means default postgres schema 'public' will be used
[database]
host = 127.0.0.1
port = 5432
user = kulzer
password = scraper
dbname = geoip
prefix = scan2.

#logfile - logging/debug stuff gets dumped here, use "-" for stderr (without quotes)
#loglevel - one of debug, info, warning, error, fatal
[log]
logfile = logs/scan2/geoip_randAlexaTop1k.log
loglevel = debug

#scan_threads - number of threads doing DNS queries
#storage_threads - number of concurrent threads to DB
[processing]
scan_threads = 20
storage_threads = 1
