[database]
host = 127.0.0.1
port = 5432
user = analyser
password = analyserpass
dbname = analyser

[asn]
mapfile = asn/test.db

[crossbeardb]
host = 127.0.0.1
port = 5432
user = crossbear
password = crossbearpass
dbname = crossbear

[geoloc]
dbpath = geoip/GeoLiteCity.dat
db_backup = geoip/GeoLiteCity.dat.bak
dburl = http://geolite.maxmind.com/download/geoip/database/GeoLiteCity.dat.gz
dbsize = 12108586
